APP_NAME=Expert Label
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=false
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=expert_label
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456

